.main-container{
  position: fixed;
  top: 1%;
  left: 5%;
  width: 90%;
  height: 95%;
  border: 0px solid;
}

.navBar-container {
  position: relative; /* or absolute */
  top: 0px;
  left: 0%;
  width: 100%;
  height: 20%;
  border: 0px solid;
}

.panelDeAluminio-container{
  position: relative;
  top: 0px;
  left: 0%;
  width: 100%;
  height: 80%;
  border: 0px solid;
}